﻿
@{
    ViewBag.Title = "Error";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<h2 id="Naslov">Korisničko ime koje ste izabrali je zauzeto, izaberite neko drugo.</h2>
<br>Kliknite <a href="/Home">ovde</a> za povratak na glavnu stranicu.<br />

