﻿@model VP_Projekat.Models.CustomModel
@using Newtonsoft.Json

@{
    ViewBag.Title = "Home Page";
}


<link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />

@if (ViewBag.user.loggedIn == false)
{

    
    <form action="/Home/SignUp" method="post">
        <table cellspacing=0 cellpadding=3 border=0>
            <tr>
                <td align=right>Korisničko ime:</td>
                <td><input oninput="Validacija(document.getElementsByClassName('us1'))" class="us1" type="text" name="username"></td>
            </tr>
            <tr>
                <td align=right>Lozinka:</td>
                <td><input oninput="Validacija(document.getElementsByClassName('us1'))" class="us1" type="password" name="password"></td>
            </tr>
            <tr>
                <td align=right>Ime:</td>
                <td><input oninput="Validacija(document.getElementsByClassName('us1'))" class="us1" type="text" name="name"></td>
            </tr>
            <tr>
                <td align=right>Prezime:</td>
                <td><input  oninput="Validacija(document.getElementsByClassName('us1'))" onfocusin="Validacija(document.getElementsByClassName('us1'))" class="us1" type="text" name="surname"></td>
            </tr>

            <tr>
                <td align=right>Pol::</td>
                <td>
                    <select class="us1" name="gender">
                        <option value="male">Muški</option>
                        <option value="female">Ženski</option>

                    </select>
                </td>
            </tr>
            <tr id="signup1">
                <td align=right>&nbsp;</td>
                <td ><input  type="submit" onclick="Validacija(document.getElementsByClassName('us1'))" value="Registracija"></td>
            </tr>
        </table>
    </form>
    <h>Već ste registrovani?</h>
    <a href="/Login">Ulogujte se</a><br />

    <div>

        <table id="EmployeeList" class="table table-bordered table-condensed">

            <thead>

                <tr bgcolor="lightgrey">

                    <th onclick="SortirajApartmane('host')">Domaćin </th>

                    <th onclick="SortirajApartmane('numberOfGuests')">Broj gostiju</th>

                    <th onclick="SortirajApartmane('numberOfRooms')">Broja soba</th>

                    <th onclick="SortirajApartmane('pricePerNight')">Cena za jedno noćenje</th>

                    <th onclick="SortirajApartmane('type')">Tip</th>

                    <th onclick="SortirajApartmane('location')">Lokacija</th>

                    <th >Status</th>

                    <th>Slike</th>

                    <th>Sadržaji</th>

                    <th>Dostupnost po datumima</th>

                    <th>Komentari</th>

                    <th >Akcija</th>

                    <th onclick="Sobe('id')">Id</th>


                </tr>

            </thead>

            <tbody id="a">

                @foreach (var emp in Model.Table1)

                {

                    <tr>

                        <td id="p1">@emp.host</td>

                        <td id="p2">@emp.numberOfGuests</td>

                        <td id="p3">@emp.numberOfRooms</td>

                        <td id="p4">@emp.pricePerNight</td>

                        <td id=@emp.type>@emp.type</td>

                        <td id="p6">@emp.location</td>

                        <td id="p6">@emp.status</td>

                        <td id="p6"><a href="/Upload?id=@emp.id&&b=4">vidi slike</a></td>

                        <td id="p6"><a href="/Apartment?id=@emp.id&&b=5">vidi listu sadržaja</a></td>

                        <td id="p6"><a href="/Calendar?id=@emp.id&&b=5">Vidi dostupnost</a></td>

                        <td id="p6"><a href="/Comment?id=@emp.id&&b=5">Vidi komentare</a></td>
                        
                        <td id="Nedostupno">Nedostupno!</td>

                        <td id="p7">@emp.id</td>

                    </tr>

                }

            </tbody>

        </table>

    </div>
}
else
{
    <h1 id="Naslov">Trenutno ste prijavljeni.</h1>
    <a href="/Profile"> Pogledaj svoj profil</a><br />
    if (ViewBag.user.role == "host")
    {
        <a href="/Apartment?id=8&b=3"> Dodaj apartman</a><br/>
    }
    if (ViewBag.user.role == "admin")
    {
        <p>[<a href="/Amenity"> Dodaj/Obriši sadržaje </a>]</p>
    }
    <p><input name="cenamin" id="cenamina" type="text" placeholder="Najniža cena:" value="" /> <input name="cenamax" value="" id="cenamaxa" type="text" placeholder="Najviša cena:" /> <Button name="buttonExecute" onclick="PretragaPoCeni(document.getElementById('cenamina').value, document.getElementById('cenamaxa').value)">Pretraga(cena)</Button></p>
    <p><input name="location" id="location" type="text" placeholder="Ime grada ili države:" value="" /> <Button name="buttonExecute" onclick="PretragaPoLokaciji(document.getElementById('location').value)">Pretraga(lokacija)</Button></p>
    <p><input name="sobemin" id="sobemin" type="text" placeholder="Minimalno soba:" value="" /> <input name="sobemax" id="sobemax" type="text" placeholder="Maksimalno soba:" value=""/> <Button name="buttonExecute" onclick="PretragaPoSobi(document.getElementById('sobemin').value, document.getElementById('sobemax').value)">Pretraga(sobe)</Button></p>
    <div align="left">
        <select name="Filtriraj po tipu" onchange="Filtriraj(this.value)">
            <option value="">Izaberite tip objekta</option>
            <option value="Vikendica">Vikendica</option>
            <option value="Stan">Stan</option>
            <option value="Kuća">Kuća</option>
            <option value="Splav">Splav</option>
            <option value="Jahta">Jahta</option>
            <option value="Planinarski dom">Planinarski dom</option>
        </select>
    </div>
    if (ViewBag.user.role == "admin" || ViewBag.user.role == "host")
    {
        <p>
            <div align="left">
                <select name="Filtriraj po statusu" onchange="Filtriraj(this.value)">
                    <option value="">Izaberite status</option>
                    <option value="aktivan">Aktivan</option>
                    <option value="neaktivan">Neaktivan</option>
                </select>
            </div>
        </p>
        }
        <div align="left" class="container">
            <p>
                <ul class="class">
                    @foreach (var emp in ViewBag.listofamenities)
                    {

                        <li><label><input type="checkbox" name="asd" id="chk1" class="messageCheckbox" value="@emp.name">@emp.name</label></li>
                    }
                </ul>
                <Button name="buttonExecute" id="Dugme" onclick="FiltrirajPoSadrzaju(document.querySelectorAll('input[name=asd]:checked'))">Filtriraj po sadržaju</Button>

            </p>
        </div>


        <a href="/Login/LogOut"> Odjavi se</a><br />

<p> Spisak apartmana </p>
    <div>

        <table id="EmployeeList" class="table table-bordered table-condensed">

            <thead>

                <tr bgcolor="lightgrey">

                    <th onclick="SortirajApartmane('host')">Domaćin </th>

                    <th onclick="SortirajApartmane('numberOfGuests')">Broj gostiju</th>

                    <th onclick="SortirajApartmane('numberOfRooms')">Broja soba</th>

                    <th onclick="SortirajApartmane('pricePerNight')">Cena za jedno noćenje</th>

                    <th onclick="SortirajApartmane('type')">Tip</th>

                    <th onclick="SortirajApartmane('location')">Lokacija</th>

                    <th>Status</th>

                    <th >Slike</th>
                 
                    <th>Sadržaji</th>

                    <th>Dostupnost po datumima</th>

                    <th>Komentari</th>

                    @if (ViewBag.user.role == "admin" || ViewBag.user.role == "host" || ViewBag.user.role == "guest")
                    {
                        <th id="Akcija">Akcija</th>
                    }
                    <th>Id</th>

                </tr>

            </thead>

            <tbody id="a">

                @foreach (var emp in Model.Table1)

                {

                    <tr>

                        <td id="p1">@emp.host</td>

                        <td id="p2">@emp.numberOfGuests</td>

                        <td id="p3">@emp.numberOfRooms</td>

                        <td id="p4">@emp.pricePerNight</td>

                        <td id=@emp.type>@emp.type</td>

                        <td id="p6">@emp.location</td>

                        <td>@emp.status</td>

                        <td id="p6"><a href="\Upload?id=@emp.id&&b=4">vidi slike</a></td>

                       


                        <td id="p6"><a href="/Apartment?id=@emp.id&&b=5">vidi listu sadržaja</a></td>

                        <td id="p6"><a href="/Calendar?id=@emp.id&&b=5">Vidi dostupnost</a></td>

                        <td id="p6"><a href="/Comment?id=@emp.id&&b=5">Vidi komentare</a></td>
                        @if (ViewBag.user.role == "admin")
                        {
                            <td id="p8"><a href='\Apartment?id=@emp.id&b=1'><img src="del.png" alt="" height=20 width=20></a><a href='\Apartment?id=@emp.id&b=2'><img src="edit.png" alt="" height=20 width=20></a> <a href='\Upload?id=@emp.id&b=2'><img src="plus.png" alt="" height=20 width=20></a></td>
                        }
                        else
                        {
                      
                            if (ViewBag.user.role == "host" && ViewBag.user.username == @emp.host)
                            {
                                <td id="p8"><a href='\Apartment?id=@emp.id&b=1'><img src="del.png" alt="" height=20 width=20></a><a href='\Apartment?id=@emp.id&b=2'><img src="edit.png" alt="" height=20 width=20></a> <a href='\Upload?id=@emp.id&b=2'><img src="plus.png" alt="" height=20 width=20></a></td>
                            }
                            else
                            {
                                <td  id='Nedostupno'>Nedostupno!</td>
                            }
                        }
                        
                        <td id="p7">@emp.id</td>
                    </tr>

                }

            </tbody>

        </table>

    </div>

    if (ViewBag.user.role == "admin")
    {
    <p><input name="username" value="" id="username" type="text" placeholder="korisničko ime:" /> <Button name="buttonExecute" onclick="PretragaPoKorisnickom( document.getElementById('username').value)">Pretraga(korisničko ime)</Button></p>
    <div align="left">
        <select name="Filtriraj po polu" onchange="FiltrirajKorisnike(this.value)">
            <option value="">Izaberite pol</option>
            <option value="male">Muško</option>
            <option value="female">Žensko</option>
        </select>
    </div>
    <p>
        <div align="left">
            <select name="Filtriraj po ulozi" onchange="FiltrirajKorisnike(this.value)">
                <option value="">Izaberite ulogu</option>
                <option value="admin">Administrator</option>
                <option value="host">Domaćin</option>
                <option value="guest">Gost</option>
            </select>
        </div>
    </p>

    <p> Spisak korisnika </p>

        <div>

            <table id="EmployeeList" class="table table-bordered table-condensed">

                <thead>

                    <tr bgcolor="lightgrey">

                        <th onclick="SortirajKorisnike('name')">Ime </th>

                        <th onclick="SortirajKorisnike('lastname')">Prezime</th>

                        <th onclick="SortirajKorisnike('username')">Korisnicko ime</th>

                        <th onclick="SortirajKorisnike('role')">Uloga</th>

                        <th onclick="SortirajKorisnike('gender')">Pol</th>

                        <th onclick="SortirajKorisnike('id')">Id</th>

                        <th> Detalji</th>

                        <th >Akcija</th>

                    </tr>

                </thead>

                <tbody id="b">

                    @foreach (var emp in Model.Table2)

                    {

                        <tr>

                            <td id="p1">@emp.name</td>

                            <td id="p2">@emp.lastname</td>

                            <td id="p3">@emp.username</td>

                            <td id="p4">@emp.role</td>

                            <td id="p5">@emp.gender</td>

                            <td id="p7">@emp.id</td>

                            <td id="p6"><a href="\Profile\Details?id=@emp.id&&b=7">vidi detalje</a></td>
                      
                            @if(emp.role == "guest")
                            {
                            <td id="p8"><a href='\Profile\Promote?id=@emp.id&b=1'><img src="host.png" alt="" height=20 width=20></a> </td>

                            }
                            else if(emp.role == "host")
                            {
                                <td id="p8"><a href='\Profile\Promote?id=@emp.id&b=2'><img src="guest.png" alt="" height=20 width=20></a></td>

                            }
                            else
                            {
                                <td  id='Nedostupno'>Nedostupno!</td>
                            }
                            

</tr>

                    }

                </tbody>

            </table>

        </div>
    }
}


<script type="text/javascript">

    var yourGlobalVariable = 0;


function SortirajApartmane(param)
    {
    var i;
    var model = '@Html.Raw(Json.Encode(Model.Table1))';
    var jvscr = JSON.parse(model);
    var role = '@(ViewBag.user.role)';
    var username = '@(ViewBag.user.username)';
    if (yourGlobalVariable == 0)
    {
        function GetSortOrder(prop) {
            return function (a, b) {
                if (a[prop] > b[prop]) {
                    return 1;
                } else if (a[prop] < b[prop]) {
                    return -1;
                }
                return 0;
            }
        }
        yourGlobalVariable = 1;
    }
    else
    {
        function GetSortOrder(prop) {
            return function (a, b) {
                if (a[prop] > b[prop]) {
                    return -1;
                } else if (a[prop] < b[prop]) {
                    return 1;
                }
                return 0;
            }
        }
        yourGlobalVariable = 0;
    }


     // treba dodati za stringove(domacina, lokaciju i tip) posebnu pretragu
    jvscr.sort(GetSortOrder(param));
    var tip;

    var strMessage1 = document.getElementById("a");
    strMessage1.innerHTML = "";

    for (i = 0; i < jvscr.length; i++) {

        if (jvscr[i].type == "Planinarski dom")
            tip = "Planinarski"       
        else
            tip = jvscr[i].type;

        if (role == "admin") {

            strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td> <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>    <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>       <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td></tr>"
        }
        else if (role == "host" && jvscr[i].host == username) {
            strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td  id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>  <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>     <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td></tr>"
        }
        else {
            strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>   <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td> <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td> <td id='Nedostupno'>Nedostupno!</td> <td>" + jvscr[i].id + "</td> </tr>"
        }
    }

}

    function SortirajKorisnike(param) {
        var i;
        var model = '@Html.Raw(Json.Encode(Model.Table2))';
        var jvscr = JSON.parse(model);
        if (yourGlobalVariable == 0) {
            function GetSortOrder(prop) {
                return function (a, b) {
                    if (a[prop] > b[prop]) {
                        return 1;
                    } else if (a[prop] < b[prop]) {
                        return -1;
                    }
                    return 0;
                }
            }

            function dynamicSort(property) {
                var sortOrder = 1;
                return function (a, b) {
                    if (sortOrder == -1) {
                        return b[property].localeCompare(a[property]);
                    } else {
                        return a[property].localeCompare(b[property]);
                    }
                }
            }
            yourGlobalVariable = 1;
        }
        else {
            function GetSortOrder(prop) {
                return function (a, b) {
                    if (a[prop] > b[prop]) {
                        return -1;
                    } else if (a[prop] < b[prop]) {
                        return 1;
                    }
                    return 0;
                }
            }

            function dynamicSort(property) {
                var sortOrder = -1;
                return function (a, b) {
                    if (sortOrder == -1) {
                        return b[property].localeCompare(a[property]);
                    } else {
                        return a[property].localeCompare(b[property]);
                    }
                }
            }
            yourGlobalVariable = 0;
        }
            jvscr.sort(GetSortOrder(param));

        var strMessage1 = document.getElementById("b");
        strMessage1.innerHTML = "";
        for (i = 0; i < jvscr.length; i++)
        {
            //alert(jvscr[i].role);
            if (jvscr[i].role == "guest") {

                strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td> <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td>   <td><a href='/Profile/Promote?id=" + jvscr[i].id + "&b=1'><img src='host.png' height=20 width=20></a></td> </tr> "

            }
            else if (jvscr[i].role == "host") {

                strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td> <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td>  <td ><a href='/Profile/Promote?id=" + jvscr[i].id + "&b=2'><img src='guest.png'  height=20 width=20></a></td></tr>"
            }
            else {
                strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td> <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td>  <td  id='Nedostupno'>Nedostupno!</td> </tr>"

            }
        }

    }


    function FiltrirajKorisnike(param) {
        var i;
        var model = '@Html.Raw(Json.Encode(Model.Table2))';
        var role = '@(ViewBag.user.role)';
        var username = '@(ViewBag.user.username)';

        var jvscr = JSON.parse(model);
        var strMessage1 = document.getElementById("b");
        strMessage1.innerHTML = "";

        for (i = 0; i < jvscr.length; i++) {
            if (param == "male" || param == "female")
                {
                if (jvscr[i].gender == param) {
                    if (jvscr[i].role == "guest") {

                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>   <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td> <td><a href='/Profile/Promote?id=" + jvscr[i].id + "&b=1'><img src='host.png' height=20 width=20></a></td> </tr> "

                    }
                    else if (jvscr[i].role == "host") {

                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>  <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td>  <td ><a href='/Profile/Promote?id=" + jvscr[i].id + "&b=2'><img src='guest.png'  height=20 width=20></a></td></tr>"
                    }
                    else {
                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>  <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td>  <td  id='Nedostupno'>Nedostupno!</td></tr>"

                    }
                }
            }
            else {
                if (jvscr[i].role == param) {
                    if (jvscr[i].role == "guest") {

                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>  <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td>  <td><a href='/Profile/Promote?id=" + jvscr[i].id + "&b=1'><img src='host.png' height=20 width=20></a></td> </tr> "

                    }
                    else if (jvscr[i].role == "host") {

                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>  <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td>  <td ><a href='/Profile/Promote?id=" + jvscr[i].id + "&b=2'><img src='guest.png'  height=20 width=20></a></td></tr>"
                    }
                    else {
                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>  <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td> <td id='Nedostupno'>Nedostupno!</td> </tr>"

                    }
                }

            }

        }
    }


    function Filtriraj(param) {
        var i;
        var model = '@Html.Raw(Json.Encode(Model.Table1))';
        var role = '@(ViewBag.user.role)';
        var username = '@(ViewBag.user.username)';

        var jvscr = JSON.parse(model);
        var strMessage1 = document.getElementById("a");
        strMessage1.innerHTML = "";
        var tip;
        for (i = 0; i < jvscr.length; i++) {

            if (jvscr[i].type == "Planinarski dom")
                tip = "Planinarski"
            else
                tip = jvscr[i].type;

            if (param == "aktivan" || param == "neaktivan")
            {
                

                if (jvscr[i].status == param)

                {
                    if (role == "admin") {

                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td> <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>       <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                    }
                    else if (role == "host" && jvscr[i].host == username) {
                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>  <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>   <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>     <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                    }
                    else {
                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>   <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td> <td  id='Nedostupno'>Nedostupno!</td> <td>" + jvscr[i].id + "</td> </tr>"
                    }
                }
            }
            else
            {
                if (jvscr[i].type == param)
                {
                    if (role == "admin") {

                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td> <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>   <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>       <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                    }
                    else if (role == "host" && jvscr[i].host == username) {
                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>  <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>   <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>     <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td>  <td>" + jvscr[i].id + "</td> </tr>"
                    }
                    else {
                        strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>   <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td> <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>  <td  id='Nedostupno'>Nedostupno!</td> <td>" + jvscr[i].id + "</td> </tr>"
                    }
                }
            }


        }
    }
    function PretragaPoCeni(param1, param2)
    {
        //alert(param1);
        var min = Number(param1);
        var max = Number(param2);
        var model = '@Html.Raw(Json.Encode(Model.Table1))';
        var jvscr = JSON.parse(model);
        var strMessage1 = document.getElementById("a");
        var role = '@(ViewBag.user.role)';
        var username = '@(ViewBag.user.username)';
        strMessage1.innerHTML = "";
        var tip;
        // var isTrueSet = (param === 'true');
        for (i = 0; i < jvscr.length; i++) {
            if (jvscr[i].pricePerNight > min && jvscr[i].pricePerNight < max)
            {
                if (jvscr[i].type == "Planinarski dom")
                    tip = "Planinarski"
                else
                    tip = jvscr[i].type;

                if (role == "admin") {

                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td> <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>   <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>       <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                }
                else if (role == "host" && jvscr[i].host == username) {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>  <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>   <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>     <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                }
                else {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>   <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td> <td  id='Nedostupno'>Nedostupno!</td> <td>" + jvscr[i].id + "</td>  </tr>"
                }
            }

        }
    }

    function PretragaPoLokaciji(param1) {
        //alert(param1);
        // var min = Number(param1);
        var model = '@Html.Raw(Json.Encode(Model.Table1))';
        var jvscr = JSON.parse(model);
        var strMessage1 = document.getElementById("a");
        strMessage1.innerHTML = "";
        var role = '@(ViewBag.user.role)';
        var username = '@(ViewBag.user.username)';
        var tip;
        for (i = 0; i < jvscr.length; i++) {
            if (jvscr[i].location.indexOf(param1) != -1)
            {
                if (jvscr[i].type == "Planinarski dom")
                    tip = "Planinarski"
                else
                    tip = jvscr[i].type;

                if (role == "admin") {

                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td> <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>   <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>       <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                }
                else if (role == "host" && jvscr[i].host == username) {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>  <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>     <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                }
                else {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>   <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td> <td  id='Nedostupno'>Nedostupno!</td> <td>" + jvscr[i].id + "</td> </tr>"
                }
            }

        }
    }
    function PretragaPoSobi(param1, param2) {
        var min = Number(param1);
        var max = Number(param2);
        var model = '@Html.Raw(Json.Encode(Model.Table1))';
        var jvscr = JSON.parse(model);
        var strMessage1 = document.getElementById("a");
        strMessage1.innerHTML = "";
        var role = '@(ViewBag.user.role)';
        var username = '@(ViewBag.user.username)';
        var tip;
        for (i = 0; i < jvscr.length; i++) {
            if (jvscr[i].numberOfRooms > min && jvscr[i].numberOfRooms < max)
            {

                if (jvscr[i].type == "Planinarski dom")
                    tip = "Planinarski"
                else
                    tip = jvscr[i].type;

                if (role == "admin") {

                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td> <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>   <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>       <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                }
                else if (role == "host" && jvscr[i].host == username) {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>  <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td> <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>     <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                }
                else {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>   <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td> <td  id='Nedostupno'>Nedostupno!</td>  <td>" + jvscr[i].id + "</td> </tr>"
                }
            }

        }
    }

    function PretragaPoKorisnickom(param1) {
        //alert(param1);
        // var min = Number(param1);
        var model = '@Html.Raw(Json.Encode(Model.Table2))';
        var jvscr = JSON.parse(model);
        var strMessage1 = document.getElementById("b");
        strMessage1.innerHTML = "";
        var role = '@(ViewBag.user.role)';
        var username = '@(ViewBag.user.username)';
        // var isTrueSet = (param === 'true');
        for (i = 0; i < jvscr.length; i++) {
            if (jvscr[i].username == param1) {
                if (jvscr[i].role == "guest") {

                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>   <td><a href='/Profile/Details?id="+jvscr[i].id+"&&b=7'>vidi detalje</a></td>   <td><a href='/Profile/Promote?id=" + jvscr[i].id + "&b=1'><img src='host.png' height=20 width=20></a></td> </tr> "

                }
                else if (jvscr[i].role == "host") {

                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>  <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td>   <td ><a href='/Profile/Promote?id=" + jvscr[i].id + "&b=2'><img src='guest.png'  height=20 width=20></a></td></tr>"
                }
                else {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].name + "</td>  <td>" + jvscr[i].lastname + "</td> <td>" + jvscr[i].username + "</td>  <td>" + jvscr[i].role + "</td>  <td>" + jvscr[i].gender + "</td> <td>" + jvscr[i].id + "</td>  <td><a href='/Profile/Details?id=" + jvscr[i].id + "&&b=7'>vidi detalje</a></td> <td  id='Nedostupno'>Nedostupno!</td> </tr>"

                }
            }

        }
    }

    function FiltrirajPoSadrzaju(param) {
          var i;
          var j;
          var k;
          var flag = true;
        var model = '@Html.Raw(Json.Encode(Model.Table1))';
        var role = '@(ViewBag.user.role)';
        var username = '@(ViewBag.user.username)';

        var jvscr = JSON.parse(model);
        var strMessage1 = document.getElementById("a");
        strMessage1.innerHTML = "";
        var tip;

        for (i = 0; i < jvscr.length; i++)
        {
            flag = true;
            if (jvscr[i].type == "Planinarski dom")
                tip = "Planinarski"
            else
                tip = jvscr[i].type;

            for (k = 0; k < param.length; k++)
            {

                if (jvscr[i].listOfAmenities.indexOf(param[k].value) == -1)
                {

                    flag = false;
                }

            }

            if(flag == true)
                {
                if (role == "admin") {

                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td  id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td> <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>       <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                }
                else if (role == "host" && jvscr[i].host == username) {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td  id='" + tip + "'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>  <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td>     <td><a href='\Apartment?id=" + jvscr[i].id + "&b=1'><img src=" + '"del.png"' + " alt='' height=20 width=20></a><a href='\Apartment?id=" + jvscr[i].id + "&b=2'><img src=" + '"edit.png"' + " alt='' height=20 width=20></a> <a href='\Upload?id=" + jvscr[i].id + "&b=2'><img src=" + '"plus.png"' + " alt='' height=20 width=20></a></td> <td>" + jvscr[i].id + "</td> </tr>"
                }
                else {
                    strMessage1.innerHTML += "<tr> <td>" + jvscr[i].host + "</td>  <td>" + jvscr[i].numberOfGuests + "</td> <td>" + jvscr[i].numberOfRooms + "</td>  <td>" + jvscr[i].pricePerNight + "</td>  <td id='"+ tip +"'>" + jvscr[i].type + "</td>  <td>" + jvscr[i].location + "</td> <td>" + jvscr[i].status + "</td>   <td><a href='/Upload?id=" + jvscr[i].id + "&&b=4'>vidi slike</a></td>  <td><a href='/Apartment?id=" + jvscr[i].id + "&&b=5'>vidi listu sadržaja</a></td> <td><a href='/Calendar?id=" + jvscr[i].id + "&&b=5'>Vidi dostupnost</a></td>   <td id=><a href='/Comment?id=" + jvscr[i].id + "&&b=5'>Vidi komentare</a></td> <td  id='Nedostupno'>Nedostupno!</td> <td>" + jvscr[i].id + "</td>  </tr>"
                }
            }
          }

        }
    function Validacija(param)
    {
        var flag = true;
        var strMessage1 = document.getElementById("signup1");
        strMessage1.innerHTML = "";
        for (k = 0; k < param.length; k++)
        {
            if(param[k].value == "" || param[k].value == null)
            {
                flag = false;
            }
        }
        if(flag == true)
        {
            strMessage1.innerHTML += "<td align=right>&nbsp;</td> <td ><input  type='submit' onclick='Validacija(document.getElementsByClassName('us1'))' value='SignUp'></td> "
        }
        else
        {
            strMessage1.innerHTML += "<td align=right>&nbsp;</td> <td ><input  type='submit' onclick='Validacija(document.getElementsByClassName('us1'))' disabled value='SignUp'></td> <td style='color:red;'> Morate popuniti sva polja!</td>"

        }
    }

</script>