﻿
@{
    ViewBag.Title = "SignUp";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<h2 id="Naslov">Uspesno ste se ulogovali</h2>
<p>[<a href="/Home"> Povratak na glavnu stranu </a>]</p>

