﻿body {
    background-color: white;
}

#Nedostupno {  
    color: black;
    font-weight: bold;
    background-color: lightgray ;
}
#Vikendica{
    background-color: olive;
}
#Stan{
    background-color: lightcoral;
}
#Splav{
    background-color: lightblue;
}
#Planinarski{
    background-color: darkolivegreen;
}
.Planinarski dom{
    background-color: darkolivegreen;
}
.dom{
    background-color: darkolivegreen;
}
#Kuća{
    background-color: lightsalmon;
}
#Jahta{
    background-color: lightskyblue;
}
#Naslov{
    color: darkgray;
    font-weight: bold;
}
#Akcija{
    width: 80px;
}
 .class { 
     height: 100px;
      overflow: auto;
       width: 200px;
        border: 1px solid #000;
        margin-left: -15px;

 }

 #Dugme{
     margin: 7px;
     margin-left: -15px;
 }

   ul { 
       list-style-type: none;
        margin: 0; padding: 0;
         overflow-x: hidden; 

   }
   li { 
       margin: 0;
       padding: 0;

   }
   label { 
       display: block;
       color: WindowText;
       background-color: Window;
       margin: 0;
       padding: 0;
       width: 100%;

   }
   label:hover { 
       background-color: Highlight; 
       color: HighlightText; }