﻿
@{
    ViewBag.Title = "Details";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

@if(ViewBag.user.role ==  "host")

    {
        <h2 id="Naslov">Lista apartmana ovog domaćina.</h2>
    

<div>

    <table id="EmployeeList" class="table table-bordered table-condensed">

        <thead>

            <tr>

                <th>Id</th>
                <th>Adresa </th>


            </tr>

        </thead>

        <tbody id="a">

            @foreach (var emp in Model)

            {

                <tr>

                    <td id="p1">@emp.id</td>

                    <td id="p2">@emp.location</td>

              

                </tr>

            }

        </tbody>

    </table>

</div>
}
else
{
    <h3 id="Naslov">Nije definisano.</h3>
}

<p>[<a href="/Home"> Povratak na glavnu stranu </a>]</p>
