﻿@model VP_Projekat.Models.User
@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />


<div class="card" id="ab">
    <img src="silueta.png" alt="" height=250 width=250>
    <h1 id="Naslov">@Model.name @Model.lastname</h1>
    <p> Korisničko ime: @Model.username</p>
    <p> Pol : @Model.gender</p>
    <p> Uloga : @Model.role</p>  
    <p> Id : @Model.id</p>
    <p><button type="button" onclick="izmena()">izmeni podatke</button></p>
</div>

<p>[<a href="/Home"> Povratak na početnu stranicu </a>]</p>
<script type="text/javascript">

    var yourGlobalVariable = 0;


    function izmena()
    {
        var strMessage1 = document.getElementById("ab");
        strMessage1.innerHTM = "";
        var valid = "oninput=\"ValidacijaEdit(document.getElementsByClassName('am2'))\" class=\"am2\"";
        var validclc ="onclick=\"ValidacijaEdit(document.getElementsByClassName('am2'))\"";
        strMessage1.innerHTML = "<form action='/Profile/Profilee' method='post'>Ime:<br><input " + valid + " type='text' name='name' value = @Model.name><br>Prezime:<br><input " + valid + " type='text' name='surname' value = @Model.lastname> <br> Korisničko ime:<br><input " + valid + " type='text' name='username' value = @Model.username><br>Lozinka:<br><input  " + valid + "type='text' name='password' value = @Model.password><br>Pol:<br><select name='gender'><option value='male'>Muški</option><option value='female'>Ženski</option> </select></br><div id='edit'><br><button "+validclc+">Sačuvaj izmene</button></br></div></form>"
    }


    function ValidacijaEdit(param) {
        var flag = true;
        var strMessage1 = document.getElementById("edit");
        strMessage1.innerHTML = "";
        for (k = 0; k < param.length; k++) {
            if ((param[k] && param[k].value) == 0 || param[k].value == null) {
                flag = false;
            }
        }
        if (flag == true) {
            strMessage1.innerHTML += "<br><button >Sačuvaj izmene</button></br>"
        }
        else {
            strMessage1.innerHTML += "<br><button  onclick=\"ValidacijaEdit(document.getElementsByClassName('am2'))\" >Sačuvaj izmene</button><p>Morate popuniti sva polja</p></br>"

        }
    }

</script>