﻿
@{
    ViewBag.Title = "Promote";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

@if(ViewBag.b == 1)
{
<h2 id="Naslov">Uspešno ste korisnika <b>"@ViewBag.user.username"</b> unapredili u Domaćina</h2>
}
else
{
<h2 id="Naslov">Uspešno ste korisniku <b>"@ViewBag.user.username"</b> oduzeli prava Domaćina</h2>
}

<p>[<a href="/Home"> Povratak na početnu stranicu </a>]</p>

