﻿
@{
    ViewBag.Title = "Error";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<h1 id="Naslov">Greška</h1>
<h2>Neispravno korisničko ime ili lozinka!</h2>
<br>Kliknite <a href="/Home">ovde</a> za povratak na glavnu stranicu.<br />
