﻿
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />
<h2 id="Naslov">Forma za prijavu:</h2>
@if (ViewBag.user.loggedIn == false)
{
    <form action="/Login/Login" method="post">
        <table cellspacing=0 cellpadding=3 border=0>
            <tr>
                <td align=right>Username:</td>
                <td><input oninput="ValidacijaLogin(document.getElementsByClassName('us2'))" class="us2" type='text' name="username"></td>
            </tr>
            <tr>
                <td align=right>Password:</td>
                <td><input oninput="ValidacijaLogin(document.getElementsByClassName('us2'))" class="us2" type="password" name="password"></td>
            </tr>
            <tr id="login1">
                <td align=right>&nbsp;</td>
                <td><input onclick="ValidacijaLogin(document.getElementsByClassName('us2'))" type="submit" value="Pošalji"></td>
            </tr>
        </table>
    </form>
}
else
{
    <p> Već ste se prijavili! </p>
    <p>[<a href="/Login/Logout"> Odjavi se </a>]</p>
}

<p>[<a href="/Home"> Povratak na početnu stranicu </a>]</p>


<script type="text/javascript">

    function ValidacijaLogin(param)
    {
        var flag = true;
        var strMessage1 = document.getElementById("login1");
        strMessage1.innerHTML = "";
        for (k = 0; k < param.length; k++)
        {
            if((param[k] && param[k].value) == 0 || param[k].value == null)
            {
                flag = false;
            }
        }
        if(flag == true)
        {
            strMessage1.innerHTML += "<td align=right>&nbsp;</td> <td><input onclick='ValidacijaLogin(document.getElementsByClassName('us2'))' type='submit' value='Pošalji'></td>"
        }
        else
        {
            strMessage1.innerHTML += "<td align=right>&nbsp;</td> <td><input onclick='ValidacijaLogin(document.getElementsByClassName('us2'))' type='submit' value='Pošalji' disabled></td> <td style='color:red;'> Morate popuniti sva polja!</td>"

        }
    }

</script>