﻿
@{
    ViewBag.Title = "LogOut";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<h2 id="Naslov">Uspešno ste se odjavili!</h2>
<p>[<a href="/Home"> Povratak na glavnu stranu </a>]</p>
