﻿

@{
    ViewBag.Title = "Result";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />
<h2 id="Naslov">Prijava</h2>

@if (ViewBag.user.loggedIn)
{
    <p>
        Uspešno ste se prijavili:<br />
        Username: <b>@ViewBag.user.username</b><br />
    </p>
    <a href="/Login/LogOut"> Odjavi se</a><br />
}
else
{
    <p>
        Niste se uspešno prijavili!<br />
    </p>
  
}

        Kliknite <a href="/Home">ovde</a> za povratak na glavnu stranicu.<br />
