﻿@model VP_Projekat.Models.CustomApartmentModel
@{
    ViewBag.Title = "Index";
}
<body onload="ParsirajLokaciju()"></body>
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

@if (ViewBag.b == 1)
{
    <h2 id="Naslov">Brisanje apartmana:</h2>
    <b>Izbrisali ste Apartman:@ViewBag.id</b>
}
@if (ViewBag.b == 2)
{
    <form action="/Apartment/Edit" method="post">
        <table cellspacing=0 cellpadding=3 border=0>
            <tr>
                <td align=right>Host:</td>
                <td><input oninput="ValidacijaApartmanEdit(document.getElementsByClassName('ap1'))" class="ap1"  type="text" name="host" value="@Model.ap.host"></td>
            </tr>
            <tr>
                <td align=right>Država:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text" id="drzava" name="drzava" value=""></td>
            </tr>
            <tr>
                <td align=right>Grad:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text" id="grad" name="grad" value=""></td>
            </tr>
            <tr>
                <td align=right>Ulica:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text" id="ulica" name="ulica" value=""></td>
            </tr>
            <tr>
                <td align=right>Broj:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text"  id="broj" name="broj" value=""></td>
            </tr>
            <tr>
                <td align=right>Cena noćenja:</td>
                <td><input oninput="ValidacijaApartmanEdit(document.getElementsByClassName('ap1'))" class="ap1"  type="text" name="pricepernight" value="@Model.ap.pricePerNight"></td>
            </tr>
            <tr>
                <td align=right>Broj soba:</td>
                <td><input oninput="ValidacijaApartmanEdit(document.getElementsByClassName('ap1'))" class="ap1" type="text" name="numberofrooms" value="@Model.ap.numberOfRooms"></td>
            </tr>
            <tr>
                <td align=right>Broj gostiju:</td>
                <td><input oninput="ValidacijaApartmanEdit(document.getElementsByClassName('ap1'))" class="ap1" type="text" name="numberofguests" value="@Model.ap.numberOfGuests"></td>
            </tr>
            <tr>
            <tr>
                <td align=right>Tip:</td>
                <td>
                    <select name="type">
                        <option value="Vikendica">Vikendica</option>
                        <option value="Stan">Stan</option>
                        <option value="Kuća">Kuća</option>
                        <option value="Splav">Splav</option>
                        <option value="Jahta">Jahta</option>
                        <option value="Planinarski dom">Planinarski dom</option>
                    </select>
                </td>
            </tr> 
            <tr>
                <td>Lista sadržaja:</td>
                <td>
                    
                    @foreach (var emp in Model.listOfAmenities)
                    {
                        if (Model.ap.listOfAmenities.Contains(emp.name))
                        {
                            <p><input type="checkbox" name="listofamenities" value="'@emp.name" checked> @emp.name</p>
                        }
                        else
                        {
                            <p><input type="checkbox" name="listofamenities" value="'@emp.name" > @emp.name</p>
                        }
                    }                                             
                </td>
            </tr>
                      
            <tr>              
                <td><input type="hidden" name="id" value="@Model.ap.id"></td>
            </tr>   
            <tr id="apedit">
                <td align=right>&nbsp;</td>
                <td><input type="submit" value="Edit"></td>
            </tr>
        </table>
    </form>

}
@if(ViewBag.b == 3)
{
    <h1 id="Naslov">Dodavanje novog apartmana:</h1>

    <form action="/Apartment/Add" method="post">
        <table cellspacing=0 cellpadding=3 border=0>
            <tr>
                <td align=right>Host:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2"  type="text" name="host" value="@ViewBag.username" readonly></td>
            </tr>
            <tr>
                <td align=right>Država:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text" name="drzava" value=""></td>
            </tr>
            <tr>
                <td align=right>Grad:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2"  type="text" name="Grad" value=""></td>                               
            </tr>
            <tr>
                <td align=right>Ulica:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text" name="ulica" value=""></td>
            </tr>
            <tr>
                <td align=right>Broj:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text" name="broj" value=""></td>
            </tr>
            <tr>
                <td align=right>Cena noćenja:</td>
                <td><input  oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2"  type="text" name="pricepernight" value=""></td>
            </tr>
            <tr>
                <td align=right>Broj soba:</td>
                <td><input   oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text" name="numberofrooms" value=""></td>
            </tr>
            <tr>
                <td align=right>Broj gostiju:</td>
                <td><input oninput="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" class="ap2" type="text" name="numberofguests" value=""></td>
            </tr>       
            <tr>
                <td align=right>Tip:</td>
                <td>
                  <select name="type">
                  <option value="Vikendica">Vikendica</option>
                  <option value="Stan">Stan</option>
                  <option value="Kuća">Kuća</option>
                  <option value="Splav">Splav</option>
                  <option value="Jahta">Jahta</option>
                  <option value="Planinarski dom">Planinarski dom</option>
                  </select>
                </td>
            </tr>      
            <tr>
                <td>Lista sadržaja:</td>
                <td>
                    @foreach (var emp in Model.listOfAmenities)
                    {
                        <p><input type="checkbox" name="listofamenities" value="'@emp.name"> @emp.name</p>
                    }                           
                </td>
            </tr>  
            <tr id="apadd">
                <td align=right>&nbsp;</td>
                <td><input onclick="ValidacijaApartmanAdd(document.getElementsByClassName('ap2'))" type="submit" value="Sačuvaj izmene"></td>
            </tr>
        </table>
    </form>
}
@if (ViewBag.b == 5)
{
    <h1 id="Naslov">Uovom apartmanu nalaze se sledeći sadržaji:</h1>
    <div>
        <table id="EmployeeList" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Naziv sadržaja </th>
                </tr>
            </thead>
            <tbody id="a">
                
                    @foreach (var emp in Model.listOfAmenities)
                    {
                        if (Model.ap.listOfAmenities.Contains(emp.name))
                        {
                            <tr>
                                <td id="p2">@emp.name</td>
                            </tr>
                        }
                    }            
            </tbody>
        </table>
    </div>
}
<p>[<a href="/Home"> Povratak na glavnu stranu </a>]</p>

<script type="text/javascript">

 function ValidacijaApartmanEdit(param) {
        var flag = true;
        var strMessage1 = document.getElementById("apedit");
        strMessage1.innerHTML = "";
        for (k = 0; k < param.length; k++) {
            if ((param[k] && param[k].value) == 0) {
                if(param[k].value !='0')
                 flag = false;
            }
        }
        if (flag == true) {
            strMessage1.innerHTML += "<td align=right>&nbsp;</td><td><input type=\"submit\" value=\"Edit\"></td>"
        }
        else {
            strMessage1.innerHTML += "<td align=right>&nbsp;</td><td><input type=\"submit\" value=\"Edit\" disabled></td><td style='color:red;'>Morate popuniti sva polja!</td>"
        }
 }

 function ValidacijaApartmanAdd(param) {
     var flag = true;
     var strMessage1 = document.getElementById("apadd");
     strMessage1.innerHTML = "";
     for (k = 0; k < param.length; k++) {
         if ((param[k] && param[k].value) == 0) {
             if (param[k].value != '0')
                 flag = false;
         }
     }
     if (flag == true) {
         strMessage1.innerHTML += "<td align=right>&nbsp;</td><td><input type=\"submit\"  value=\"Sačuvaj izmene\"></td>"
     }
     else {
         strMessage1.innerHTML += "<td align=right>&nbsp;</td><td><input type=\"submit\"  value=\"Sačuvaj izmene\" disabled></td><td style='color:red;'>Morate popuniti sva polja!</td>"

     }
 }

 function ParsirajLokaciju()
 {
     var model = '@Html.Raw(Json.Encode(Model))';
     var jvscr = JSON.parse(model);
     var res = jvscr.ap.location;
     var ress = res.split(', ')
     var drzava = ress[0];
     var grad = ress[1];
     var resss = ress[2].split('br. ')
     var ulica = resss[0];
     var broj = resss[1];   
     document.getElementById("drzava").value = drzava
     document.getElementById("grad").value = grad
     document.getElementById("ulica").value = ulica
     document.getElementById("broj").value = broj
 }

</script>