﻿@{
    ViewBag.Title = "Result";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<h2 id="Naslov">Akcija uspešno izvršena!</h2>
<p>[<a href="/Home"> Povratak na početnu stranu  </a>]</p>

