﻿@model List<VP_Projekat.Models.Comment>
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<h1 id="Naslov">Komentari za apartman:</h1>
<div>
    <table id="EmployeeList" class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>sadržaj komentara </th>          
                <th>Komentar posalo </th>
            </tr>
        </thead>
        <tbody id="a">

            @for (int i =0;  i<Model.Count; i++)
            {
                if (Model[i].apartmentId == ViewBag.id)
                {
                    <tr>
                        <td id="p2">@Model[i].content</td>                       
                    
                        <td id="p2">@ViewBag.listOfUsers[i].username</td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<p>[<a href="/Home"> Povratak na glavnu stranu </a>]</p>