﻿
@{
    ViewBag.Title = "Images";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<h2 id="Naslov">Slike:</h2>
<table   border="1">
    <tr bgcolor="lightgrey">
       
        <th>Slike</th>
    </tr>

    <tr >
       <td id="img" >          
       </td>
    </tr>

</table>
<p>[<a href="/Home"> Povratak na početnu stranicu </a>]</p>
<body onload="Slike()"></body>

    <script type="text/javascript">



    function Slike() {
        var flag = true;
        var strMessage1 = document.getElementById("img");
        strMessage1.innerHTML = "";
        var node;

         var images = '@(ViewBag.apartment.images)';
        //alert(images);
        var res = images.split("/");
        //alert(res);
        var i;
        var img;
        for(i = 1; i < res.length; i++ )
        {
            //node = document.createElement("td")
            img = document.createElement("img")

                img.src="/Images//" + res[i] ;
                img.height = "350";
                img.width = "350";

            document.getElementById("img").appendChild(img);

        }

    }

    </script>
