﻿@model List<VP_Projekat.Models.Amenity>
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<h2 id="Naslov">Dodavanje sadržaja:</h2>
<form action="/Amenity/Add" method="post">
    <p ><input name="name" oninput="ValidacijaAmenity(document.getElementsByClassName('am'))" class="am" id="amenity" type="text" placeholder="ime sadržaja:" value="" /> <div id="ame"><input type="submit" onclick="ValidacijaAmenity(document.getElementsByClassName('am'))" value="Dodaj"></div></p>
</form>
<div>

    <table id="EmployeeList" class="table table-bordered table-condensed">

        <thead>

            <tr>

                <th>Id</th>
                <th>Naziv sadržaja </th>
                <th>Akcija </th>


            </tr>

        </thead>

        <tbody id="a">

            @foreach (var emp in Model)

            {

                <tr>

                    <td id="p1">@emp.id</td>

                    <td id="p2">@emp.name</td>

                    <td id="p8"><a href='/Amenity/Delete?id=@emp.id&b=1'><img src="del.png" alt="" height=20 width=20></a>

                </tr>

            }

        </tbody>

    </table>

</div>
<p>[<a href="/Home"> Povratak na početnu stranu </a>]</p>

<script type="text/javascript">

    function ValidacijaAmenity(param)
    {
        var flag = true;
        var strMessage1 = document.getElementById("ame");
        strMessage1.innerHTML = "";
        for (k = 0; k < param.length; k++)
        {
            if((param[k] && param[k].value) == 0 || param[k].value == null)
            {
                flag = false;
            }
        }
        if(flag == true)
        {
            strMessage1.innerHTML += "<input type='submit' onclick='ValidacijaLogin(document.getElementsByClassName('am'))' value='Dodaj'>"
        }
        else
        {
            strMessage1.innerHTML += "<input type='submit' onclick='ValidacijaLogin(document.getElementsByClassName('am'))' value='Dodaj' disabled> <p style='color:red;'> Morate uneti ime sadržaja!</p>"

        }
    }

</script>