﻿@model VP_Projekat.Models.Amenity
@{
    ViewBag.Title = "Result";
}
<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

@if(ViewBag.b == 1)
{
    <h1 id="Naslov"> Uspesno ste izbrisali element "@Model.name"  iz liste sadržaja</h1>

  <p>[<a href ="/Amenity"> Povratak na prethodnu stranu </a>]</p>
}
else
{
<h2 id="Naslov">Uspesno ste dodali element "@Model.name" u listu sadržaja</h2>
<p>[<a href="/Amenity"> Povratak na prethodnu stranu </a>]</p>
}

