﻿@model VP_Projekat.Models.Apartment
@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/Additional.css")" rel="stylesheet" type="text/css" />

<html>
<head>
</head>
<body>
   <h1 id="Naslov">Uokvireni datumi su zauzeti!</h1>
    <div id="a">

       
    </div>
    <button onclick="promena2()">Nazad</button>
    <button onclick="promena()">Napred</button>
    
    <p style="margin-top:10px">[<a href="/Home"> Povratak na glavnu stranu </a>]</p>
</body>

</html>

<script language="javascript" type="text/javascript">

var day_of_week = new Array('Ned','Pon','Uto','Sre','Čet','Pet','Sub');
var month_of_year = new Array('Januar','Februar','Mart','April','Maj','Jun','Jul','Avgust','Septembar','Oktobar','Novembar','Decembar');

var Calendar = new Date();

var year = Calendar.getFullYear();     
var month = Calendar.getMonth();    
var today = Calendar.getDate();   
var weekday = Calendar.getDay(); 

var DAYS_OF_WEEK = 7;   
var DAYS_OF_MONTH = 31;   
var cal;   

Calendar.setDate(1);
Calendar.setMonth(month);

function DBDate(dbday, dbmonth, dbyear) {
    this.dbday = dbday;
    this.dbmonth = dbmonth;
    this.dbyear = dbyear;
}

var model = '@Html.Raw(Json.Encode(Model))';
var jvscr = JSON.parse(model);

var res = jvscr.availabilityByDates.split("+");
var i;
var Dates = [];
for (i = 0; i < res.length; i++)
{   
    var RES = res[i].split("/");
    var c = new DBDate(RES[0], RES[1], RES[2])
    Dates.push(c);
}
//inicijalni prikaz kalendara
gen();

function gen() {
    Calendar.setDate(1);
    Calendar.setMonth(month);
    var TR_start = '<TR>';
    var TR_end = '</TR>';
    var highlight_start = '<TD WIDTH="30"><TABLE CELLSPACING=0 BORDER=1 BGCOLOR=DEDEFF BORDERCOLOR=CCCCCC><TR><TD WIDTH=20><B><CENTER>';
    var highlight_end = '</CENTER></TD></TR></TABLE></B>';
    var TD_start = '<TD WIDTH="30"><CENTER>';
    var TD_end = '</CENTER></TD>';

    var doc = document.getElementById("a");
    doc.innerHTML = ""
    cal=""
    cal += '<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=0 BORDERCOLOR=BBBBBB><TR><TD>';
    cal += '<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=2>' + TR_start;
    cal += '<TD COLSPAN="' + DAYS_OF_WEEK + '" BGCOLOR="#EFEFEF"><CENTER><B>';
    cal += month_of_year[month] + '   ' + year + '</B>' + TD_end + TR_end;
    cal += TR_start;


    for (index = 0; index < DAYS_OF_WEEK; index++) {

        if (weekday == index)
            {
            cal += TD_start + '<B>' + day_of_week[index] + '</B>' + TD_end;
        }
        else
            {
            cal += TD_start + day_of_week[index] + TD_end; //gornji red sa danima
        }
    }

    cal += TD_end + TR_end;
    cal += TR_start;

    
    for (index = 0; index < Calendar.getDay() ; index++)
    {
        cal += TD_start + '  ' + TD_end;
    }

 
    for (index = 0; index < DAYS_OF_MONTH; index++) {
        if (Calendar.getDate() > index) {
            
            week_day = Calendar.getDay();
            var p = false;
            
            if (week_day == 0)
                {
                cal += TR_start;
                 }

            if (week_day != DAYS_OF_WEEK) {
               
                var day = Calendar.getDate();

                for (i = 0; i < Dates.length; i++)
                {
                    if (Dates[i].dbday == Calendar.getDate() && Dates[i].dbmonth == Calendar.getMonth()+1)
                    {
                        cal += highlight_start + day + highlight_end + TD_end;
                         p = true;
                    }
                    
                }
               
                if (p == false)
                    {
                    if (today == Calendar.getDate())
                        {
                        cal += TD_start + "<b  style='color:red;'>" + day + "<b>" + TD_end;
                         }
                    else
                        {
                        cal += TD_start + day + TD_end;
                        }
                    }
            }

            if (week_day == DAYS_OF_WEEK)
            {
                cal += TR_end;
            }
        }
        
        Calendar.setDate(Calendar.getDate() + 1);
    }

    cal += '</TD></TR></TABLE></TABLE>';

    doc.innerHTML += cal;
}
           
function promena() {
    if (month <= 10)
        {
        month++;
    }
    else
    {
        month = 0
    }
    gen();

}
function promena2() {
    if (month >= 1)
    {
        month--;
    }
    else {
        month = 11
    }
    gen();
}
</script>